{
  "parser": "babel-eslint",
  "env": {
    "react-native/react-native": true
  },
  "plugins": [
      "react",
      "react-native"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react-native/no-raw-text": 0,
    "react-native/no-single-element-style-arrays": 2,
    // new rules 
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "react/prop-types": [0],
    "quotes": ["error", "single"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  }
}